body{
    color:black;
    background:yellow;
}
.heading{
    font-size: 22px;
    width:80%;
}
#camera{
    width:350px;
    height:300px;
    border:2px dashed black;
}
.name_of_the_objects,#result_object_name,#result_object_accuracy{
    color:red;
    font-size:20px;

}
